$globalFont: 'Inter', sans-serif;

$primary: #7657F8;
$success: #11CA9C;
$warning:#FFEEDB;
$bg-dark-subtle: #F5F4F8;
$text-dark: #5D5F79;

$spacing-xl: 3rem;
$spacing-md: 1.5rem;
$spacing-sm: 0.75rem;

// $secondary:     $gray-600 !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;



